docs/n8n-billing-qa/local-test.workflow.json
{
  "name": "Billing QA Local Test Harness",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        220,
        260
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "15 7 * * *"
            }
          ]
        }
      },
      "id": "daily-schedule",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        220,
        460
      ]
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst prev = new Date(Date.UTC(now.getUTCFullYear(), now.getUTCMonth() - 1, 1));\nconst period = prev.toISOString().slice(0, 7);\nconst runId = `qa-local-${period}-${now.toISOString().replace(/[-:.TZ]/g, '').slice(0, 14)}-${Math.random().toString(16).slice(2, 8)}`;\nconst contractText = [\n  'Partner: Stampli',\n  'Product: FX revenue share',\n  'Billing anchor for FX share: Credit Complete Date',\n  'Billing anchor for FX reversal: Refund Complete Date',\n  'Markup rate: 2.58%',\n  'Monthly minimum revenue: 10000 USD',\n  'Supported currencies: USD, CAD, EUR, GBP',\n  'Missing currency fallback: partner standard rate 2.00%',\n  'Reversal treatment: subtract from AP total, not AR',\n  'If the contract parse is missing required fields, flag the row for human review',\n].join('\\n');\nconst billingFeedRows = [\n  { transactionId: 'app-1001', partner: 'Stampli', period, ccy: 'USD', amount: 1500, mapped: true, fee: 38.7, feeType: 'fx' },\n  { transactionId: 'app-1002', partner: 'Stampli', period, ccy: 'USD', amount: 600, mapped: true, fee: 15.48, feeType: 'fx' },\n  { transactionId: 'app-1003', partner: 'Stampli', period, ccy: 'JPY', amount: 100000, mapped: false, fee: 0, feeType: 'fx' }\n];\nconst snowflakeRows = [\n  { transactionId: 'app-1001', partner: 'Stampli', period, ccy: 'USD', amount: 1500, feeType: 'fx' },\n  { transactionId: 'app-1002', partner: 'Stampli', period, ccy: 'USD', amount: 610, feeType: 'fx' },\n  { transactionId: 'app-1004', partner: 'Stampli', period, ccy: 'USD', amount: 200, feeType: 'fx' }\n];\nconst makerInvoice = {\n  partner: 'Stampli',\n  period,\n  amount: 10000,\n  direction: 'We Owe Partner',\n  buckets: {\n    ap: 10000,\n    ar: 0\n  },\n  notes: ['Sample maker invoice for local QA testing only']\n};\nconst zeroFeeCandidates = billingFeedRows.filter((row) => Number(row.fee || 0) <= 0 || row.mapped === false || !String(row.ccy || '').trim());\nreturn [{\n  json: {\n    runId,\n    period,\n    partner: 'Stampli',\n    contractText,\n    billingFeedRows,\n    snowflakeRows,\n    makerInvoice,\n    zeroFeeCandidates,\n    openaiApiUrl: 'https://api.openai.com/v1/chat/completions',\n    primaryModel: 'gpt-5.4',\n    shadowModel: 'gpt-5.4-mini',\n    reportDestinationPrefix: 's3://your-billing-bucket/reports/billing-qa/local-test/',\n    note: 'This local harness uses OpenAI twice for the model comparison pass because Claude is not wired yet. Replace the shadow parser with Claude when credentials are available.'\n  }\n}];"
      },
      "id": "build-context",
      "name": "Build Local QA Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Build Local QA Context').first().json.openaiApiUrl }}",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.OPENAI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ {\n  model: $('Build Local QA Context').first().json.primaryModel,\n  temperature: 0,\n  messages: [\n    {\n      role: 'system',\n      content: 'You are a billing contract parser. Return only valid JSON. No markdown, no explanation. Schema: {\"partner\":string,\"product\":string,\"billingAnchor\":string,\"reversalAnchor\":string,\"feeModel\":string,\"markupRate\":number,\"monthlyMinimumRevenue\":number,\"supportedCurrencies\":string[],\"missingCurrencyFallbackRate\":number,\"reversalTreatment\":string,\"missingFieldBehavior\":string[],\"notes\":string[]}'\n    },\n    {\n      role: 'user',\n      content: `Parse this contract into the schema exactly:\\n\\n${$('Build Local QA Context').first().json.contractText}`\n    }\n  ]\n} }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "openai-primary",
      "name": "OpenAI Parse Primary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        820,
        220
      ]
    },
    {
      "parameters": {
        "jsCode": "function parseJsonBlock(text) {\n  const raw = String(text || '').trim().replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```$/i, '');\n  const start = raw.indexOf('{');\n  const end = raw.lastIndexOf('}');\n  const body = start >= 0 && end >= start ? raw.slice(start, end + 1) : raw;\n  try {\n    return JSON.parse(body);\n  } catch (error) {\n    return { parseError: String(error), raw: body };\n  }\n}\n\nconst ctx = $('Build Local QA Context').first().json;\nconst content = $json.choices?.[0]?.message?.content ?? '';\nconst primaryParsed = parseJsonBlock(content);\nreturn [{\n  json: {\n    ...ctx,\n    primaryModelResponse: content,\n    primaryParsed\n  }\n}];"
      },
      "id": "extract-primary",
      "name": "Extract Primary Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Build Local QA Context').first().json.openaiApiUrl }}",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.OPENAI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ {\n  model: $('Build Local QA Context').first().json.shadowModel,\n  temperature: 0,\n  messages: [\n    {\n      role: 'system',\n      content: 'You are a second independent billing contract parser. Return only valid JSON. No markdown, no explanation. Keep the schema identical to the primary parser. Prefer normalization and concise values over commentary.'\n    },\n    {\n      role: 'user',\n      content: `Independently parse this contract into the same schema:\\n\\n${$('Build Local QA Context').first().json.contractText}`\n    }\n  ]\n} }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "openai-shadow",
      "name": "OpenAI Parse Shadow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1410,
        220
      ]
    },
    {
      "parameters": {
        "jsCode": "function parseJsonBlock(text) {\n  const raw = String(text || '').trim().replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```$/i, '');\n  const start = raw.indexOf('{');\n  const end = raw.lastIndexOf('}');\n  const body = start >= 0 && end >= start ? raw.slice(start, end + 1) : raw;\n  try {\n    return JSON.parse(body);\n  } catch (error) {\n    return { parseError: String(error), raw: body };\n  }\n}\n\nconst ctx = $('Build Local QA Context').first().json;\nconst content = $json.choices?.[0]?.message?.content ?? '';\nconst shadowParsed = parseJsonBlock(content);\nreturn [{\n  json: {\n    ...ctx,\n    shadowModelResponse: content,\n    shadowParsed\n  }\n}];"
      },
      "id": "extract-shadow",
      "name": "Extract Shadow Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1700,
        220
      ]
    },
    {
      "parameters": {
        "jsCode": "function normalise(value) {\n  if (Array.isArray(value)) {\n    return [...new Set(value.map((item) => String(item).trim()).filter(Boolean).map((item) => item.toUpperCase()))].sort();\n  }\n  if (value === null || value === undefined) return '';\n  if (typeof value === 'object') return JSON.stringify(value);\n  return String(value).trim();\n}\n\nfunction round(value) {\n  return Math.round((Number(value) || 0) * 100) / 100;\n}\n\nfunction parseableNumber(value) {\n  const num = Number(value);\n  return Number.isFinite(num) ? num : 0;\n}\n\nfunction calcInvoice(terms, rows) {\n  const markup = parseableNumber(terms.markupRate);\n  const fallback = parseableNumber(terms.missingCurrencyFallbackRate || terms.fallbackRate || terms.defaultFallbackRate || markup);\n  const minimum = parseableNumber(terms.monthlyMinimumRevenue);\n  const supported = new Set(normalise(terms.supportedCurrencies));\n  const detailRows = [];\n  let generatedRevenue = 0;\n\n  for (const row of rows) {\n    const currency = String(row.ccy || row.currency || '').trim().toUpperCase();\n    const eligible = supported.has(currency);\n    const rateUsed = eligible && markup > 0 ? markup : fallback;\n    const fee = round(parseableNumber(row.amount) * rateUsed);\n    generatedRevenue = round(generatedRevenue + fee);\n    detailRows.push({\n      transactionId: row.transactionId,\n      currency,\n      amount: parseableNumber(row.amount),\n      eligible,\n      rateUsed: round(rateUsed),\n      fee\n    });\n  }\n\n  const invoiceAmount = generatedRevenue < minimum ? minimum : generatedRevenue;\n  return {\n    generatedRevenue: round(generatedRevenue),\n    invoiceAmount: round(invoiceAmount),\n    minimumApplied: generatedRevenue < minimum,\n    detailRows\n  };\n}\n\nfunction diffTerms(primary, shadow) {\n  const keys = ['partner', 'product', 'billingAnchor', 'reversalAnchor', 'feeModel', 'markupRate', 'monthlyMinimumRevenue', 'supportedCurrencies', 'missingCurrencyFallbackRate', 'reversalTreatment', 'missingFieldBehavior'];\n  const diffs = [];\n  for (const key of keys) {\n    const left = normalise(primary?.[key]);\n    const right = normalise(shadow?.[key]);\n    if (left !== right) {\n      diffs.push({ field: key, primary: left, shadow: right });\n    }\n  }\n  return diffs;\n}\n\nconst ctx = $('Extract Shadow Parse').first().json;\nconst primary = $('Extract Primary Parse').first().json.primaryParsed;\nconst shadow = ctx.shadowParsed;\nconst makerAmount = parseableNumber(ctx.makerInvoice?.amount);\nconst primaryCalc = calcInvoice(primary, ctx.billingFeedRows || []);\nconst shadowCalc = calcInvoice(shadow, ctx.billingFeedRows || []);\nconst termDiffs = diffTerms(primary, shadow);\nconst amountDiffs = [];\nif (round(primaryCalc.invoiceAmount) !== round(shadowCalc.invoiceAmount)) {\n  amountDiffs.push({ field: 'invoiceAmount', primary: primaryCalc.invoiceAmount, shadow: shadowCalc.invoiceAmount, delta: round(shadowCalc.invoiceAmount - primaryCalc.invoiceAmount) });\n}\nif (round(primaryCalc.invoiceAmount) !== round(makerAmount)) {\n  amountDiffs.push({ field: 'makerVsPrimary', maker: makerAmount, primary: primaryCalc.invoiceAmount, delta: round(primaryCalc.invoiceAmount - makerAmount) });\n}\nif (round(shadowCalc.invoiceAmount) !== round(makerAmount)) {\n  amountDiffs.push({ field: 'makerVsShadow', maker: makerAmount, shadow: shadowCalc.invoiceAmount, delta: round(shadowCalc.invoiceAmount - makerAmount) });\n}\nconst passed = termDiffs.length === 0 && amountDiffs.length === 0;\nreturn [{\n  json: {\n    ...ctx,\n    primaryParsed: primary,\n    primaryCalc,\n    shadowCalc,\n    llmTermDiffs: termDiffs,\n    llmAmountDiffs: amountDiffs,\n    llmPassed: passed,\n    llmNotes: passed ? ['Primary and shadow parsers matched the maker amount.'] : ['Model parse or amount differences were detected.']\n  }\n}];"
      },
      "id": "compare-llm",
      "name": "Compare LLM Parses",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1990,
        220
      ]
    },
    {
      "parameters": {
        "jsCode": "function round(value) {\n  return Math.round((Number(value) || 0) * 100) / 100;\n}\n\nfunction totals(rows) {\n  return rows.reduce((acc, row) => {\n    acc.count += 1;\n    acc.amount = round(acc.amount + Number(row.amount || 0));\n    return acc;\n  }, { count: 0, amount: 0 });\n}\n\nconst ctx = $('Compare LLM Parses').first().json;\nconst billingRows = Array.isArray(ctx.billingFeedRows) ? ctx.billingFeedRows : [];\nconst snowflakeRows = Array.isArray(ctx.snowflakeRows) ? ctx.snowflakeRows : [];\nconst appById = new Map(billingRows.map((row) => [String(row.transactionId), row]));\nconst snowById = new Map(snowflakeRows.map((row) => [String(row.transactionId), row]));\nconst mismatches = [];\n\nfor (const row of billingRows) {\n  const key = String(row.transactionId);\n  const other = snowById.get(key);\n  if (!other) {\n    mismatches.push({ transactionId: key, issue: 'missing_in_snowflake', makerAmount: round(row.amount || 0), checkerAmount: null, delta: null });\n    continue;\n  }\n  const amountDelta = round((Number(other.amount || 0)) - (Number(row.amount || 0)));\n  if (Math.abs(amountDelta) > 0.01) {\n    mismatches.push({ transactionId: key, issue: 'amount_mismatch', makerAmount: round(row.amount || 0), checkerAmount: round(other.amount || 0), delta: amountDelta });\n  }\n}\nfor (const row of snowflakeRows) {\n  const key = String(row.transactionId);\n  if (!appById.has(key)) {\n    mismatches.push({ transactionId: key, issue: 'missing_in_billing_app', makerAmount: null, checkerAmount: round(row.amount || 0), delta: null });\n  }\n}\n\nconst billingTotals = totals(billingRows);\nconst snowflakeTotals = totals(snowflakeRows);\nconst dataPassed = mismatches.length === 0 && Math.abs(round(billingTotals.amount - snowflakeTotals.amount)) <= 0.01 && billingTotals.count === snowflakeTotals.count;\nreturn [{\n  json: {\n    ...ctx,\n    billingTotals,\n    snowflakeTotals,\n    dataMismatches: mismatches,\n    dataPassed,\n    dataNotes: dataPassed ? ['Billing feed and Snowflake matched for the sample period.'] : ['Row or amount mismatches were detected between billing feed and Snowflake.']\n  }\n}];"
      },
      "id": "compare-data",
      "name": "Compare Billing Feed and Snowflake",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2280,
        220
      ]
    },
    {
      "parameters": {
        "jsCode": "function round(value) {\n  return Math.round((Number(value) || 0) * 100) / 100;\n}\n\nconst ctx = $('Compare Billing Feed and Snowflake').first().json;\nconst terms = ctx.primaryParsed || {};\nconst supported = new Set((Array.isArray(terms.supportedCurrencies) ? terms.supportedCurrencies : []).map((item) => String(item).trim().toUpperCase()).filter(Boolean));\nconst fallbackRate = Number(terms.missingCurrencyFallbackRate || 0) || 0.02;\nconst zeroFeeRows = Array.isArray(ctx.zeroFeeCandidates) ? ctx.zeroFeeCandidates : [];\nconst exceptions = zeroFeeRows.map((row) => {\n  const currency = String(row.ccy || row.currency || '').trim().toUpperCase();\n  const missingCurrency = currency && !supported.has(currency);\n  const missingMapping = row.mapped === false;\n  const reason = missingCurrency ? `Currency ${currency} is not in the contract currency list` : (missingMapping ? 'Missing fee mapping' : 'Zero fee transaction');\n  const suggestedAction = missingCurrency || missingMapping ? 'Apply partner standard rate and correct the missing mapping' : 'Review why this row produced no fee';\n  const suggestedFee = round(Number(row.amount || 0) * fallbackRate);\n  return {\n    transactionId: row.transactionId,\n    currency,\n    amount: round(row.amount || 0),\n    fee: round(row.fee || 0),\n    reason,\n    suggestedFallbackRate: round(fallbackRate),\n    suggestedFee,\n    suggestedAction\n  };\n});\nconst missingDataPassed = exceptions.length === 0;\nreturn [{\n  json: {\n    ...ctx,\n    missingDataExceptions: exceptions,\n    missingDataPassed,\n    missingDataNotes: missingDataPassed ? ['No zero-fee transactions were found.'] : ['At least one transaction produced no fee because a required field or mapping was missing.']\n  }\n}];"
      },
      "id": "scan-missing-data",
      "name": "Scan Missing Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2570,
        220
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Scan Missing Data').first().json;\nconst llmPassed = !!ctx.llmPassed;\nconst dataPassed = !!ctx.dataPassed;\nconst missingDataPassed = !!ctx.missingDataPassed;\nconst overallPassed = llmPassed && dataPassed && missingDataPassed;\nconst generatedAt = new Date().toISOString();\nconst summary = {\n  overallPassed,\n  llmPassed,\n  dataPassed,\n  missingDataPassed,\n  issueCount: (ctx.llmTermDiffs?.length || 0) + (ctx.llmAmountDiffs?.length || 0) + (ctx.dataMismatches?.length || 0) + (ctx.missingDataExceptions?.length || 0)\n};\nreturn [{\n  json: {\n    runId: ctx.runId,\n    generatedAt,\n    period: ctx.period,\n    partner: ctx.partner,\n    summary,\n    llmComparison: {\n      passed: llmPassed,\n      termDiffs: ctx.llmTermDiffs || [],\n      amountDiffs: ctx.llmAmountDiffs || [],\n      makerAmount: ctx.makerInvoice?.amount || 0,\n      primaryCalc: ctx.primaryCalc || {},\n      shadowCalc: ctx.shadowCalc || {}\n    },\n    dataComparison: {\n      passed: dataPassed,\n      billingTotals: ctx.billingTotals || {},\n      snowflakeTotals: ctx.snowflakeTotals || {},\n      mismatches: ctx.dataMismatches || []\n    },\n    missingDataScan: {\n      passed: missingDataPassed,\n      exceptions: ctx.missingDataExceptions || []\n    },\n    notes: [\n      'This workflow is a local, runnable checker harness.',\n      'Primary parse uses OpenAI with gpt-5.4.',\n      'Shadow parse currently uses OpenAI with gpt-5.4-mini as a stand-in until Claude credentials are available.',\n      'Transaction comparison uses embedded sample data until Snowflake is wired in.'\n    ],\n    nextAction: overallPassed ? 'Clear to release billing for the sample data.' : 'Review the exception report before approving billing.'\n  }\n}];"
      },
      "id": "build-final-report",
      "name": "Build Final QA Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2860,
        220
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Build Local QA Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Schedule": {
      "main": [
        [
          {
            "node": "Build Local QA Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Local QA Context": {
      "main": [
        [
          {
            "node": "OpenAI Parse Primary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Parse Primary": {
      "main": [
        [
          {
            "node": "Extract Primary Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Primary Parse": {
      "main": [
        [
          {
            "node": "OpenAI Parse Shadow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Parse Shadow": {
      "main": [
        [
          {
            "node": "Extract Shadow Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Shadow Parse": {
      "main": [
        [
          {
            "node": "Compare LLM Parses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare LLM Parses": {
      "main": [
        [
          {
            "node": "Compare Billing Feed and Snowflake",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare Billing Feed and Snowflake": {
      "main": [
        [
          {
            "node": "Scan Missing Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scan Missing Data": {
      "main": [
        [
          {
            "node": "Build Final QA Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Toronto"
  },
  "versionId": "billing-qa-local-test-harness",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "billing-qa-local-test-harness",
  "tags": []
}
