docs/n8n-billing-qa/missing-data.workflow.json
{
  "name": "Billing QA Missing Data Scan",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [220, 240]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "id": "daily-trigger",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 420]
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst prev = new Date(Date.UTC(now.getUTCFullYear(), now.getUTCMonth() - 1, 1));\nconst period = prev.toISOString().slice(0, 7);\nconst runId = `qa-missing-${period}-${Date.now()}`;\nreturn [{ json: {\n  runId,\n  period,\n  billingApiBaseUrl: 'https://your-billing-api.example.com',\n  candidateFeedUrl: 'https://your-billing-api.example.com/api/qa/missing-fee-candidates',\n  reportDestinationPrefix: 's3://your-billing-bucket/reports/billing-qa/missing-data/',\n  defaultFallbackLabel: 'partner standard rate',\n  note: 'Insert the GPT review node and any partner-default lookup nodes before the final report step.'\n} }];"
      },
      "id": "build-context",
      "name": "Build Run Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 330]
    },
    {
      "parameters": {
        "jsCode": "const report = {\n  workflow: 'missing-data-scan',\n  runId: $json.runId,\n  period: $json.period,\n  status: 'starter-template',\n  purpose: 'Find transactions that produced no fee because required information was missing, then suggest the fallback partner pricing rule.',\n  requiredInputs: [\n    'zero-fee or suppressed-fee transaction list',\n    'contract terms',\n    'partner standard rates',\n    'required field list by fee type'\n  ],\n  requiredChecks: [\n    'missing currency code',\n    'missing corridor or route data',\n    'missing partner mapping',\n    'zero-fee transaction that should have defaulted to a fallback rate'\n  ],\n  defaultFallbackLabel: $json.defaultFallbackLabel,\n  reportDestinationPrefix: $json.reportDestinationPrefix,\n  nextAction: 'Wire the GPT review step, generate the exception rows, and store the resulting sheet or CSV in S3 for Finance review.'\n};\nreturn [{ json: report }];"
      },
      "id": "build-report",
      "name": "Build Exception Report Template",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 330]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Build Run Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Schedule": {
      "main": [
        [
          {
            "node": "Build Run Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Run Context": {
      "main": [
        [
          {
            "node": "Build Exception Report Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Toronto"
  },
  "versionId": "qa-missing-starter-template",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "billing-qa-missing-data",
  "tags": []
}
