docs/n8n-contract-automation.workflow.json
{
  "name": "Billing Workbook Contract Automation - Updated 2026-04-30",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "billing-contract-extract",
        "responseMode": "lastNode",
        "options": {
          "allowedOrigins": "https://billing.qa-us-west-2.veem.com"
        }
      },
      "id": "contract-extract-webhook",
      "name": "Contract Extract Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        180,
        220
      ],
      "webhookId": "billing-contract-extract"
    },
    {
      "parameters": {},
      "id": "manual-extract-test",
      "name": "Manual Extract Test",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        180,
        380
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "\nfunction pdfEscape(value) {\n  return String(value || \"\").replace(/\\\\/g, \"\\\\\\\\\").replace(/\\(/g, \"\\\\(\").replace(/\\)/g, \"\\\\)\");\n}\n\nfunction makeSimplePdfBase64(text) {\n  const content = \"BT /F1 12 Tf 72 720 Td (\" + pdfEscape(text).slice(0, 180) + \") Tj ET\\n\";\n  const objects = [\n    \"1 0 obj\\n<< /Type /Catalog /Pages 2 0 R >>\\nendobj\\n\",\n    \"2 0 obj\\n<< /Type /Pages /Kids [3 0 R] /Count 1 >>\\nendobj\\n\",\n    \"3 0 obj\\n<< /Type /Page /Parent 2 0 R /MediaBox [0 0 612 792] /Resources << /Font << /F1 4 0 R >> >> /Contents 5 0 R >>\\nendobj\\n\",\n    \"4 0 obj\\n<< /Type /Font /Subtype /Type1 /BaseFont /Helvetica >>\\nendobj\\n\",\n    \"5 0 obj\\n<< /Length \" + Buffer.byteLength(content, \"utf8\") + \" >>\\nstream\\n\" + content + \"endstream\\nendobj\\n\",\n  ];\n  let pdf = \"%PDF-1.4\\n\";\n  const offsets = [0];\n  for (const object of objects) {\n    offsets.push(Buffer.byteLength(pdf, \"utf8\"));\n    pdf += object;\n  }\n  const xrefOffset = Buffer.byteLength(pdf, \"utf8\");\n  pdf += \"xref\\n0 6\\n0000000000 65535 f \\n\";\n  for (const offset of offsets.slice(1)) {\n    pdf += String(offset).padStart(10, \"0\") + \" 00000 n \\n\";\n  }\n  pdf += \"trailer\\n<< /Root 1 0 R /Size 6 >>\\nstartxref\\n\" + xrefOffset + \"\\n%%EOF\\n\";\n  return Buffer.from(pdf, \"utf8\").toString(\"base64\");\n}\n\nreturn [{\n  json: {\n    fileName: \"sample-contract.pdf\",\n    fileBase64: makeSimplePdfBase64(\"Partner: Sample Partner. Effective Date: March 1, 2026. Monthly minimum fee $1,000. Reversal fee $2.50 per reversal. FX markup 20 bps.\"),\n    contentType: \"application/pdf\",\n  },\n}];\n"
      },
      "id": "sample-extract-request",
      "name": "Sample Extract Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        380
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "\nconst first = $input.first();\nconst raw = first?.json || {};\nconst body = raw.body && typeof raw.body === \"object\" ? raw.body : raw;\n\nfunction clean(value) {\n  return String(value || \"\").trim();\n}\n\nconst fileName = clean(body.fileName || body.name || \"contract.txt\");\nconst text = clean(body.text);\nconst fileBase64 = clean(body.fileBase64 || body.data || body.base64);\nconst contentType = clean(body.contentType || body.mimeType);\n\nif (!text && !fileBase64) {\n  throw new Error(\"Contract extraction request needs either text or fileBase64.\");\n}\n\nreturn [{\n  json: {\n    fileName,\n    text,\n    fileBase64,\n    contentType,\n    receivedAt: new Date().toISOString(),\n  },\n}];\n"
      },
      "id": "normalize-extract-request",
      "name": "Normalize Extract Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        220
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "\nconst item = $input.first()?.json || {};\n\nfunction clean(value) {\n  return String(value || \"\").trim();\n}\n\nfunction decodeBase64(value) {\n  try {\n    return Buffer.from(String(value || \"\"), \"base64\");\n  } catch {\n    return null;\n  }\n}\n\nif (clean(item.text)) {\n  throw new Error(\"This endpoint is for PDF bytes. Text files are handled directly by the app before this webhook is called.\");\n}\n\nconst buffer = decodeBase64(item.fileBase64);\nif (!buffer) throw new Error(\"fileBase64 could not be decoded.\");\nconst header = buffer.subarray(0, 8).toString(\"utf8\");\nif (!header.startsWith(\"%PDF\")) {\n  throw new Error(\"Uploaded file is not a PDF. Send a PDF base64 payload or use text upload in the app.\");\n}\n\nconst fileName = clean(item.fileName) || \"contract.pdf\";\nconst mimeType = clean(item.contentType) || \"application/pdf\";\nconst binaryData = await this.helpers.prepareBinaryData(buffer, fileName, mimeType);\nreturn [{\n  json: {\n    fileName,\n    sourceContentType: mimeType,\n  },\n  binary: {\n    data: binaryData,\n  },\n}];\n"
      },
      "id": "build-pdf-binary",
      "name": "Build PDF Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        220
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "data",
        "options": {
          "joinPages": true,
          "keepSource": "json"
        }
      },
      "id": "extract-pdf-text",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        960,
        220
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "\nconst extracted = $input.first()?.json || {};\nlet source = {};\ntry {\n  source = $(\"Build PDF Binary\").first()?.json || {};\n} catch {\n  source = {};\n}\n\nfunction clean(value) {\n  return String(value || \"\").trim();\n}\n\nfunction collectText(value) {\n  if (!value) return \"\";\n  if (typeof value === \"string\") return value;\n  if (Array.isArray(value)) return value.map(collectText).filter(Boolean).join(\"\\n\");\n  if (typeof value === \"object\") {\n    return [\n      value.text,\n      value.data,\n      value.content,\n      value.pageContent,\n      value.markdown,\n      value.pages,\n    ].map(collectText).filter(Boolean).join(\"\\n\");\n  }\n  return \"\";\n}\n\nconst text = clean(collectText(extracted));\nconst warnings = [];\nif (!text) {\n  throw new Error(\"PDF text extraction returned 0 characters. This PDF is likely scanned/image-only or protected, so n8n Extract From File cannot read it. Use an OCR/document parser node for this file, or paste the contract text manually.\");\n}\n\nreturn [{\n  json: {\n    fileName: clean(source.fileName) || clean(extracted.fileName) || \"contract.pdf\",\n    text,\n    charCount: text.length,\n    warnings,\n  },\n}];\n"
      },
      "id": "normalize-pdf-text-response",
      "name": "Normalize PDF Text Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1220,
        220
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "billing-contract-parse",
        "responseMode": "lastNode",
        "options": {
          "allowedOrigins": "https://billing.qa-us-west-2.veem.com"
        }
      },
      "id": "contract-parse-webhook",
      "name": "Contract Parse Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        180,
        700
      ],
      "webhookId": "billing-contract-parse"
    },
    {
      "parameters": {},
      "id": "manual-parse-test",
      "name": "Manual Parse Test",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        180,
        860
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "\nreturn [{\n  json: {\n    fileName: \"sample-contract.txt\",\n    text: [\n      \"Partner: Sample Partner\",\n      \"Effective Date: March 1, 2026\",\n      \"Customer shall pay a monthly minimum fee of $1,000.\",\n      \"Company shall charge $2.50 per reversal.\",\n      \"FX markup is 20 bps for major corridors and 35 bps for minor corridors.\",\n      \"Settlement report is provided on the 7th Business Day of each month.\",\n    ].join(\"\\n\"),\n  },\n}];\n"
      },
      "id": "sample-parse-request",
      "name": "Sample Parse Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        860
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "\nconst first = $input.first();\nconst raw = first?.json || {};\nconst body = raw.body && typeof raw.body === \"object\" ? raw.body : raw;\n\nfunction clean(value) {\n  return String(value || \"\").trim();\n}\n\nconst fileName = clean(body.fileName || body.name || \"contract.txt\");\nconst text = clean(body.text || body.contractText || body.rawText);\n\nif (!text) {\n  throw new Error(\"Contract parse request did not include contract text.\");\n}\n\nreturn [{\n  json: {\n    fileName,\n    text,\n    receivedAt: new Date().toISOString(),\n  },\n}];\n"
      },
      "id": "normalize-parse-request",
      "name": "Normalize Parse Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        700
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "\nconst input = $input.first()?.json || {};\nconst text = String(input.text || \"\");\nconst normalized = text.replace(/\\r/g, \"\\n\");\nconst compact = normalized.replace(/\\s+/g, \" \").trim();\nconst lower = compact.toLowerCase();\nconst warnings = [];\n\nfunction clean(value) {\n  return String(value || \"\").replace(/\\s+/g, \" \").trim();\n}\n\nfunction titleCase(value) {\n  return clean(value).replace(/\\b([a-z])/g, (match) => match.toUpperCase());\n}\n\nfunction parseDate(value) {\n  const textValue = clean(value);\n  if (!textValue) return \"\";\n  const iso = textValue.match(/\\b(20\\d{2})[-/](\\d{1,2})[-/](\\d{1,2})\\b/);\n  if (iso) {\n    return iso[1] + \"-\" + String(iso[2]).padStart(2, \"0\") + \"-\" + String(iso[3]).padStart(2, \"0\");\n  }\n  const date = new Date(textValue);\n  if (Number.isNaN(date.getTime())) return \"\";\n  return date.toISOString().slice(0, 10);\n}\n\nfunction moneyToNumber(value) {\n  if (value == null) return 0;\n  const raw = String(value).replace(/[,$]/g, \"\");\n  const match = raw.match(/-?\\d+(?:\\.\\d+)?/);\n  return match ? Number(match[0]) : 0;\n}\n\nfunction percentToDecimal(value) {\n  if (value == null) return 0;\n  const raw = String(value).toLowerCase();\n  const num = moneyToNumber(raw);\n  if (!Number.isFinite(num)) return 0;\n  if (raw.includes(\"bps\") || raw.includes(\"basis point\")) return num / 10000;\n  return num / 100;\n}\n\nfunction pushUnique(array, row, keys) {\n  const exists = array.some((existing) => keys.every((key) => clean(existing[key]).toLowerCase() === clean(row[key]).toLowerCase()));\n  if (!exists) array.push(row);\n}\n\nfunction sectionAround(keyword, radius = 240) {\n  const index = lower.indexOf(keyword);\n  if (index < 0) return \"\";\n  return compact.slice(Math.max(0, index - radius), Math.min(compact.length, index + radius));\n}\n\nfunction findMoneyNear(keywords) {\n  for (const keyword of keywords) {\n    const section = sectionAround(keyword, 260);\n    const match = section.match(/\\$\\s*[\\d,]+(?:\\.\\d{1,2})?/);\n    if (match) return moneyToNumber(match[0]);\n  }\n  return 0;\n}\n\nfunction findPartnerName() {\n  function normalizeCandidate(value, { allowAlias = false } = {}) {\n    let candidate = clean(value)\n      .replace(/[“”]/g, \"\\\"\")\n      .replace(/[‘’]/g, \"'\")\n      .replace(/\\s*,?\\s*(?:a|an)\\s+(?:Delaware|California|Canadian|US|U\\.S\\.|United States|licensed|foreign)\\b.*$/i, \"\")\n      .replace(/\\s+(?:and\\s+its\\s+affiliates|together\\s+with|collectively).*$/i, \"\")\n      .replace(/\\s*\\([^)]*$/i, \"\")\n      .replace(/^[,:\"'() ]+|[,:\"'() .]+$/g, \"\");\n    candidate = candidate.replace(/\\b(?:Inc|Inc\\.|LLC|Ltd|Ltd\\.|Limited|Corp|Corp\\.|Corporation|Co|Co\\.)$/i, \"\").trim();\n    if (/^trans[-\\s]?fi$/i.test(candidate)) candidate = \"TransFi\";\n    if (!candidate) return \"\";\n    if (!allowAlias && !/^[A-Z0-9]/.test(candidate)) return \"\";\n    const lowerCandidate = candidate.toLowerCase();\n    if (/\\b(agreement|services|effective|requirements|dictate|customer|company|partner|parties|background|whereas|section|exhibit|schedule|subsidiaries)\\b/i.test(candidate)) return \"\";\n    if (candidate.length > 80 || candidate.split(/\\s+/).length > 8) return \"\";\n    if (!/[a-z]/i.test(candidate)) return \"\";\n    if (lowerCandidate === \"veem\") return \"\";\n    return candidate;\n  }\n\n  const quoteNormalized = compact\n    .replace(/[“”]/g, \"\\\"\")\n    .replace(/[‘’]/g, \"'\")\n    .replace(/[–—]/g, \"-\");\n\n  const partnerParentheticals = quoteNormalized.match(/\\([^)]*\\bPartner\\b[^)]*\\)/gi) || [];\n  for (const parenthetical of partnerParentheticals) {\n    const quotedValues = [...parenthetical.matchAll(/[\"']([^\"']{2,80})[\"']/g)]\n      .map((match) => normalizeCandidate(match[1], { allowAlias: true }))\n      .filter(Boolean)\n      .filter((candidate) => !/\\b(partner|company|parties)\\b/i.test(candidate));\n    if (quotedValues.length) return quotedValues[quotedValues.length - 1];\n  }\n\n  const partyPatterns = [\n    /\\b[\"']?Company[\"']?\\)?\\s+(?:and|&)\\s+([A-Z][A-Za-z0-9&.,'() \\-]{1,140}?)(?=,?\\s+(?:a|an)\\s+|\\s+\\([^)]*\\bPartner\\b|\\s+and\\s+its\\s+affiliates|\\s+together\\s+with|[,)]|$)/i,\n    /\\bbetween\\b[\\s\\S]{0,500}?\\b(?:Veem|Company)\\b[\\s\\S]{0,500}?\\b(?:and|&)\\s+([A-Z][A-Za-z0-9&.,'() \\-]{1,140}?)(?=,?\\s+(?:a|an)\\s+|\\s+\\([^)]*\\bPartner\\b|\\s+and\\s+its\\s+affiliates|\\s+together\\s+with|[,)]|$)/i,\n    /\\b(?:and|&)\\s+([A-Z][A-Za-z0-9&.,'() \\-]{1,140}?)(?=,?\\s+(?:a|an)\\s+[^.]{0,180}\\([^)]*\\bPartner\\b)/i,\n  ];\n  for (const pattern of partyPatterns) {\n    const match = quoteNormalized.match(pattern);\n    const candidate = normalizeCandidate(match?.[1] || \"\");\n    if (candidate) return candidate;\n  }\n\n  const explicitPatterns = [\n    /\\bpartner\\s*(?:name)?\\s*[:\\-]\\s*([A-Z][A-Za-z0-9&.,'() \\-]{1,80})(?=$|[\\n.;])/i,\n    /\\bcustomer\\s*(?:name)?\\s*[:\\-]\\s*([A-Z][A-Za-z0-9&.,'() \\-]{1,80})(?=$|[\\n.;])/i,\n    /\\bbetween\\s+([A-Z][A-Za-z0-9&.,'() \\-]{1,80})\\s+(?:and|&)\\s+(?:veem|company)\\b/i,\n  ];\n  for (const pattern of explicitPatterns) {\n    const match = normalized.match(pattern);\n    const candidate = normalizeCandidate(match?.[1] || \"\");\n    if (candidate) return candidate;\n  }\n\n  const fromFile = normalizeCandidate(String(input.fileName || \"\")\n    .replace(/\\.[a-z0-9]+$/i, \"\")\n    .replace(/complete|docusign|veem|agreement|contract|pricing|invoice/gi, \" \")\n    .replace(/[_-]+/g, \" \"));\n  return fromFile ? titleCase(fromFile) : \"Partner\";\n}\n\nfunction findEffectiveDate() {\n  const patterns = [\n    /effective\\s+date\\s*[:\\-]?\\s*([A-Za-z]+\\s+\\d{1,2},?\\s+20\\d{2}|20\\d{2}[-/]\\d{1,2}[-/]\\d{1,2})/i,\n    /effective\\s+(?:as\\s+of|on)\\s+([A-Za-z]+\\s+\\d{1,2},?\\s+20\\d{2}|20\\d{2}[-/]\\d{1,2}[-/]\\d{1,2})/i,\n    /commencement\\s+date\\s*[:\\-]?\\s*([A-Za-z]+\\s+\\d{1,2},?\\s+20\\d{2}|20\\d{2}[-/]\\d{1,2}[-/]\\d{1,2})/i,\n  ];\n  for (const pattern of patterns) {\n    const match = compact.match(pattern);\n    const date = parseDate(match?.[1]);\n    if (date) return date;\n  }\n  return \"\";\n}\n\nfunction findBillingTerms() {\n  const payByMatch = compact.match(/\\b(?:net\\s*\\d+|within\\s+\\d+\\s+days?|7th\\s+business\\s+day|seventh\\s+business\\s+day|monthly\\s+in\\s+arrears)\\b/i);\n  let billingFreq = \"\";\n  if (/\\bmonthly\\b/i.test(compact)) billingFreq = \"Monthly\";\n  else if (/\\bquarterly\\b/i.test(compact)) billingFreq = \"Quarterly\";\n  else if (/\\bannually|annual\\b/i.test(compact)) billingFreq = \"Annual\";\n  return {\n    billingFreq,\n    payBy: payByMatch ? clean(payByMatch[0]) : \"\",\n  };\n}\n\nfunction amountToNumber(value) {\n  const raw = clean(value).replace(/[,$]/g, \"\").replace(/\\s+/g, \"\").toUpperCase();\n  const match = raw.match(/-?\\d+(?:\\.\\d+)?/);\n  if (!match) return 0;\n  const number = Number(match[0]);\n  if (!Number.isFinite(number)) return 0;\n  if (raw.includes(\"MM\") || raw.includes(\"M\")) return number * 1000000;\n  return number;\n}\n\nfunction segmentBetween(startPattern, endPatterns = []) {\n  const startMatch = compact.match(startPattern);\n  if (!startMatch || startMatch.index == null) return \"\";\n  const start = startMatch.index;\n  let end = compact.length;\n  for (const pattern of endPatterns) {\n    const rest = compact.slice(start + startMatch[0].length);\n    const match = rest.match(pattern);\n    if (match && match.index != null) {\n      end = Math.min(end, start + startMatch[0].length + match.index);\n    }\n  }\n  return compact.slice(start, end);\n}\n\nfunction numberRangeFromTokens(minToken, maxToken, plusToken = \"\") {\n  const min = amountToNumber(minToken);\n  const max = plusToken || !maxToken ? 1000000000 : amountToNumber(maxToken);\n  return { min, max: max || 1000000000 };\n}\n\nfunction parseMoneyTierRows(section, valueCount = 1) {\n  const rows = [];\n  const re = /\\b(?:Tier\\s*)?(\\d+)\\s+(\\$?\\d[\\d,.]*(?:MM?|M)?)(?:\\s*[–-]\\s*(\\$?\\d[\\d,.]*(?:MM?|M)?))?(\\+)?\\s+\\$\\s*(\\d+(?:\\.\\d+)?)(?:\\s+\\$\\s*(\\d+(?:\\.\\d+)?))?/gi;\n  let match;\n  while ((match = re.exec(section))) {\n    const { min, max } = numberRangeFromTokens(match[2], match[3], match[4]);\n    const values = [match[5], match[6]].filter(Boolean).map((value) => Number(value));\n    if (values.length >= valueCount) rows.push({ tier: Number(match[1]), min, max, values });\n  }\n  return rows;\n}\n\nfunction parsePercentTierRows(section) {\n  const rows = [];\n  const re = /\\b(?:Tier\\s*)?(\\d+)\\s+(\\$?\\d[\\d,.]*(?:MM?|M)?)(?:\\s*[–-]\\s*(\\$?\\d[\\d,.]*(?:MM?|M)?))?(\\+)?\\s+(\\d+(?:\\.\\d+)?)\\s*%/gi;\n  let match;\n  while ((match = re.exec(section))) {\n    const { min, max } = numberRangeFromTokens(match[2], match[3], match[4]);\n    rows.push({ tier: Number(match[1]), min, max, rate: Number(match[5]) / 100 });\n  }\n  return rows;\n}\n\nfunction parseBpsTierRows(section) {\n  const rows = [];\n  const re = /(\\$?\\d[\\d,.]*(?:MM?|M)?)(?:\\s*[–-]\\s*(\\$?\\d[\\d,.]*(?:MM?|M)?))?(\\+)?\\s+(\\d+(?:\\.\\d+)?)\\s*bps(?:\\s*\\((\\d+(?:\\.\\d+)?)\\s*%\\))?/gi;\n  let match;\n  while ((match = re.exec(section))) {\n    const { min, max } = numberRangeFromTokens(match[1], match[2], match[3]);\n    const rate = match[5] ? Number(match[5]) / 100 : Number(match[4]) / 10000;\n    rows.push({ min, max, rate });\n  }\n  return rows;\n}\n\nfunction extractOfflineRates() {\n  const rows = [];\n  const ach = segmentBetween(/ACH\\s*\\(Pay-in\\s+or\\s+Payout\\)/i, [/Instant\\s+US\\s+Bank\\s+Transfer/i]);\n  for (const row of parseMoneyTierRows(ach, 2)) {\n    rows.push({\n      txnType: \"Domestic\",\n      speedFlag: \"Standard\",\n      minAmt: row.min,\n      maxAmt: row.max,\n      payerCcy: \"USD\",\n      payeeCcy: \"USD\",\n      processingMethod: \"ACH\",\n      fee: row.values[0],\n      note: \"ACH next-day monthly transaction count tier \" + row.tier + \".\",\n    });\n    rows.push({\n      txnType: \"Domestic\",\n      speedFlag: \"FasterACH\",\n      minAmt: row.min,\n      maxAmt: row.max,\n      payerCcy: \"USD\",\n      payeeCcy: \"USD\",\n      processingMethod: \"ACH\",\n      fee: row.values[1],\n      note: \"ACH same-day monthly transaction count tier \" + row.tier + \".\",\n    });\n  }\n\n  const swift = segmentBetween(/SWIFT\\s+Wire\\s+Transfers/i, [/Foreign\\s+Exchange/i]);\n  for (const row of parseMoneyTierRows(swift, 1)) {\n    rows.push({\n      txnType: \"USD Abroad\",\n      speedFlag: \"Standard\",\n      minAmt: row.min,\n      maxAmt: row.max,\n      payerCcy: \"USD\",\n      payeeCcy: \"USD\",\n      processingMethod: \"SWIFT\",\n      fee: row.values[0],\n      note: \"SWIFT wire monthly transaction count tier \" + row.tier + \".\",\n    });\n  }\n\n  if (!rows.length) {\n    const candidates = compact.match(/(?:offline|domestic|international|same[- ]currency|bank transfer|ach|wire|swift)[^.]{0,160}\\$\\s*[\\d,]+(?:\\.\\d{1,2})?/gi) || [];\n    for (const candidate of candidates) {\n      if (/minimum|platform|implementation|setup|reversal|return|volume|tpv/i.test(candidate)) continue;\n      const feeMatch = candidate.match(/\\$\\s*[\\d,]+(?:\\.\\d{1,2})?/);\n      if (!feeMatch) continue;\n      const fee = moneyToNumber(feeMatch[0]);\n      if (fee <= 0 || fee > 1000) continue;\n      pushUnique(rows, {\n        txnType: /international|abroad|cross[- ]border|swift|wire/i.test(candidate) ? \"USD Abroad\" : \"Domestic\",\n        speedFlag: /same[- ]day/i.test(candidate) ? \"FasterACH\" : \"Standard\",\n        minAmt: 0,\n        maxAmt: 1000000000,\n        payerCcy: \"USD\",\n        payeeCcy: \"USD\",\n        processingMethod: /swift|wire/i.test(candidate) ? \"SWIFT\" : \"\",\n        fee,\n        note: \"Detected flat transaction fee from contract text.\",\n      }, [\"txnType\", \"speedFlag\", \"processingMethod\", \"fee\"]);\n    }\n  }\n  return rows;\n}\n\nfunction extractVolumeRates() {\n  const rows = [];\n  const rtp = segmentBetween(/Instant\\s+US\\s+Bank\\s+Transfer/i, [/Instant\\s+Deposit\\s+to\\s+Card/i]);\n  for (const row of parsePercentTierRows(rtp)) {\n    rows.push({\n      txnType: \"Domestic\",\n      speedFlag: \"RTP\",\n      payerFunding: \"\",\n      payeeFunding: \"Bank\",\n      payeeCardType: \"\",\n      ccyGroup: \"\",\n      minVol: row.min,\n      maxVol: row.max,\n      rate: row.rate,\n      note: \"RTP monthly TPV tier \" + row.tier + \".\",\n    });\n  }\n\n  const card = segmentBetween(/Instant\\s+Deposit\\s+to\\s+Card/i, [/Other\\s+Fees|Cross\\s+Border|SWIFT\\s+Wire/i]);\n  for (const row of parsePercentTierRows(card)) {\n    rows.push({\n      txnType: \"Payout\",\n      speedFlag: \"Expedited\",\n      payerFunding: \"\",\n      payeeFunding: \"Debit\",\n      payeeCardType: \"Debit\",\n      ccyGroup: \"\",\n      minVol: row.min,\n      maxVol: row.max,\n      rate: row.rate,\n      note: \"Push-to-debit monthly TPV tier \" + row.tier + \".\",\n    });\n  }\n\n  const stablecoin = segmentBetween(/Stablecoin\\s+Ramp\\s+Services/i, [/Plaid\\s+Bank\\s+Account|Specialized\\s+Module|6\\.\\s+Monthly\\s+Minimum/i]);\n  for (const row of parsePercentTierRows(stablecoin)) {\n    rows.push({\n      txnType: \"Transfer\",\n      speedFlag: \"\",\n      payerFunding: \"\",\n      payeeFunding: \"Wallet\",\n      payeeCardType: \"\",\n      ccyGroup: \"Stablecoin\",\n      minVol: row.min,\n      maxVol: row.max,\n      rate: row.rate,\n      note: \"Stablecoin ramp monthly volume tier \" + row.tier + \".\",\n    });\n  }\n\n  return rows;\n}\n\nfunction extractFxRates() {\n  const rows = [];\n  const fx = segmentBetween(/Foreign\\s+Exchange/i, [/3\\.\\s+Named\\s+Virtual\\s+Accounts|Named\\s+Virtual\\s+Accounts/i]);\n  const corridorStarts = [\n    { name: \"Major\", start: /Majors\\b/i, end: [/Minors\\b/i] },\n    { name: \"Minor\", start: /Minors\\b/i, end: [/Tertiary\\b/i] },\n    { name: \"Tertiary\", start: /Tertiary\\b/i, end: [] },\n  ];\n  for (const corridor of corridorStarts) {\n    const section = fx ? (() => {\n      const match = fx.match(corridor.start);\n      if (!match || match.index == null) return \"\";\n      const start = match.index;\n      let end = fx.length;\n      for (const pattern of corridor.end) {\n        const rest = fx.slice(start + match[0].length);\n        const endMatch = rest.match(pattern);\n        if (endMatch && endMatch.index != null) end = Math.min(end, start + match[0].length + endMatch.index);\n      }\n      return fx.slice(start, end);\n    })() : \"\";\n    for (const row of parsePercentTierRows(section)) {\n      rows.push({\n        payerCorridor: \"\",\n        payerCcy: \"\",\n        payeeCorridor: corridor.name,\n        payeeCcy: \"\",\n        minTxnSize: 0,\n        maxTxnSize: 1000000000,\n        minVol: row.min,\n        maxVol: row.max,\n        rate: row.rate,\n        note: \"FX \" + corridor.name.toLowerCase() + \" corridor monthly volume tier \" + row.tier + \".\",\n      });\n    }\n  }\n  return rows;\n}\n\nfunction extractFeeCaps() {\n  const rows = [];\n  const rtp = segmentBetween(/Instant\\s+US\\s+Bank\\s+Transfer/i, [/Instant\\s+Deposit\\s+to\\s+Card/i]);\n  const cap = rtp.match(/\\bCap\\s*:\\s*\\$\\s*([\\d,]+(?:\\.\\d{1,2})?)/i);\n  if (cap) rows.push({ productType: \"RTP\", capType: \"Max Fee\", amount: moneyToNumber(cap[1]), note: \"RTP per-transaction fee cap.\" });\n  return rows;\n}\n\nfunction extractMinimums() {\n  const rows = [];\n  const minimums = segmentBetween(/Monthly\\s+Minimum\\s+Fees/i, [/Billing\\s*&\\s*Payment\\s+Timing|7\\.\\s+Billing/i]);\n  const specs = [\n    { profile: \"Enterprise\", minVol: 50000000, maxVol: 1000000000, pattern: /Enterprise\\s+\\$?\\s*50\\s*MM\\+\\s+\\$\\s*([\\d,]+)/i },\n    { profile: \"Growth\", minVol: 5000000, maxVol: 50000000, pattern: /Growth\\s+\\$?\\s*5\\s*(?:M|MM)?\\s*[–-]\\s*\\$?\\s*50\\s*(?:M|MM)?\\s+\\$\\s*([\\d,]+)/i },\n    { profile: \"Starter\", minVol: 0, maxVol: 5000000, pattern: /Starter\\s+\\$?\\s*0\\s*[–-]\\s*\\$?\\s*5\\s*(?:M|MM)?\\s+\\$\\s*([\\d,]+)/i },\n  ];\n  for (const spec of specs) {\n    const match = minimums.match(spec.pattern);\n    if (!match) continue;\n    rows.push({\n      minAmount: moneyToNumber(match[1]),\n      minVol: spec.minVol,\n      maxVol: spec.maxVol,\n      note: spec.profile + \" monthly minimum. First month waived if contract states integration/testing waiver.\",\n    });\n  }\n  if (!rows.length) {\n    const amount = findMoneyNear([\"minimum monthly\", \"monthly minimum\", \"minimum revenue\", \"minimum fee\", \"monthly minimum fee\"]);\n    if (amount > 0 && amount < 1000000) {\n      rows.push({ minAmount: amount, minVol: 0, maxVol: 1000000000, note: \"Detected monthly minimum.\" });\n    }\n  }\n  return rows;\n}\n\nfunction extractReversalFees() {\n  const rows = [];\n  const otherFees = segmentBetween(/Other\\s+Fees/i, [/Cross\\s+Border|SWIFT\\s+Wire|Foreign\\s+Exchange/i]);\n  const explicit = otherFees.match(/(?:NSFs?\\s*\\/\\s*)?Reversals?\\s*:\\s*\\$\\s*([\\d,]+(?:\\.\\d{1,2})?)/i);\n  if (explicit) {\n    rows.push({ payerFunding: \"\", feePerReversal: moneyToNumber(explicit[1]), note: \"NSF / reversal fee.\" });\n    return rows;\n  }\n  const candidates = [\n    ...(compact.match(/(?:reversal|reversed|return|nsf)[^.]{0,180}\\$\\s*[\\d,]+(?:\\.\\d{1,2})?/gi) || []),\n    ...(compact.match(/\\$\\s*[\\d,]+(?:\\.\\d{1,2})?[^.]{0,180}(?:per\\s+)?(?:reversal|reversed|return|nsf)/gi) || []),\n  ];\n  for (const candidate of candidates) {\n    const match = candidate.match(/\\$\\s*[\\d,]+(?:\\.\\d{1,2})?/);\n    if (!match) continue;\n    const fee = moneyToNumber(match[0]);\n    if (fee <= 0 || fee > 1000) continue;\n    rows.push({ payerFunding: \"\", feePerReversal: fee, note: \"Detected explicit reversal fee.\" });\n    break;\n  }\n  return rows;\n}\n\nfunction extractPlatformFees() {\n  const rows = [];\n  const modules = segmentBetween(/Specialized\\s+Module\\s+Fees/i, [/6\\.\\s+Monthly\\s+Minimum|Monthly\\s+Minimum\\s+Fees/i]);\n  for (const match of modules.matchAll(/([A-Za-z][A-Za-z0-9 /&-]+?Module)\\s*:\\s*\\$\\s*([\\d,]+(?:\\.\\d{1,2})?)\\s*per\\s*month/gi)) {\n    rows.push({ monthlyFee: moneyToNumber(match[2]), note: clean(match[1]) });\n  }\n  const amount = findMoneyNear([\"platform fee\", \"monthly platform\", \"subscription fee\"]);\n  if (!rows.length && amount > 0 && amount < 1000000) rows.push({ monthlyFee: amount, note: \"Detected monthly platform/subscription fee.\" });\n  return rows;\n}\n\nfunction extractImplementationFees() {\n  const rows = [];\n  const amount = findMoneyNear([\"implementation fee\", \"setup fee\", \"onboarding fee\"]);\n  if (amount > 0 && amount < 1000000) {\n    rows.push({\n      feeType: \"Implementation\",\n      feeAmount: amount,\n      creditMode: \"\",\n      creditAmount: 0,\n      creditWindowDays: 0,\n      note: \"Detected one-time implementation/setup fee.\",\n    });\n  }\n  return rows;\n}\n\nfunction extractVirtualAccountFees() {\n  const rows = [];\n  const va = segmentBetween(/Named\\s+Virtual\\s+Accounts/i, [/4\\.\\s+Surcharge\\s+for\\s+Non-FX\\s+Flows|Surcharge\\s+for\\s+Non-FX\\s+Flows/i]);\n  const opening = va.match(/Account\\s+Opening\\s+Fee\\s+\\$\\s*([\\d,]+(?:\\.\\d{1,2})?)/i);\n  if (opening) rows.push({ feeType: \"Account Opening\", minAccounts: 0, maxAccounts: 1000000000, discount: 0, feePerAccount: moneyToNumber(opening[1]), note: \"One-time charge per named virtual account issued.\" });\n  const monthly = va.match(/Monthly\\s+Active\\s+Account\\s+Fee\\s+\\$\\s*([\\d,]+(?:\\.\\d{1,2})?)/i);\n  if (monthly) rows.push({ feeType: \"Monthly Active\", minAccounts: 0, maxAccounts: 1000000000, discount: 0, feePerAccount: moneyToNumber(monthly[1]), note: \"Monthly active named virtual account fee.\" });\n  return rows;\n}\n\nfunction extractSurcharges() {\n  const rows = [];\n  const surcharges = segmentBetween(/Surcharge\\s+for\\s+Non-FX\\s+Flows/i, [/5\\.\\s+Additional\\s+Service\\s+Modules|Additional\\s+Service\\s+Modules/i]);\n  for (const row of parseBpsTierRows(surcharges)) {\n    rows.push({\n      surchargeType: \"Same Currency\",\n      rate: row.rate,\n      minVol: row.min,\n      maxVol: row.max,\n      note: \"Non-FX ACH/SWIFT revenue recovery surcharge monthly TPV tier.\",\n    });\n  }\n  return rows;\n}\n\nfunction extractOtherFees() {\n  const rows = [];\n  const schedule = segmentBetween(/Schedule\\s+A\\s+Pricing\\s+Schedule/i, [/Schedule\\s+B/i]);\n  const add = (row) => pushUnique(rows, row, [\"feeType\", \"amount\", \"rate\", \"note\"]);\n  const compliance = schedule.match(/Annual\\s+Compliance\\s+Fee\\s+\\$\\s*([\\d,]+(?:\\.\\d{1,2})?)/i);\n  if (compliance) add({ feeType: \"Annual Compliance Fee\", amount: moneyToNumber(compliance[1]), note: \"Annual fee per customer account.\" });\n  const chargeback = schedule.match(/Chargeback\\s+Fee\\s*:\\s*\\$\\s*([\\d,]+(?:\\.\\d{1,2})?)/i);\n  if (chargeback) add({ feeType: \"Chargeback Fee\", amount: moneyToNumber(chargeback[1]), note: \"Other Fees section.\" });\n  const collection = schedule.match(/Collection\\s+services\\s*:\\s*\\$\\s*([\\d,]+(?:\\.\\d{1,2})?)/i);\n  if (collection) add({ feeType: \"Collection Services\", amount: moneyToNumber(collection[1]), note: \"Per payer.\" });\n  const plaidAuth = schedule.match(/Auth\\s*\\(Account\\s+Verification\\)\\s+One-time\\s+per\\s+connection\\s+\\$\\s*([\\d,]+(?:\\.\\d{1,2})?)/i);\n  if (plaidAuth) add({ feeType: \"Plaid Auth Account Verification\", amount: moneyToNumber(plaidAuth[1]), note: \"One-time per bank account connection.\" });\n  for (const fee of extractPlatformFees()) {\n    if (fee.note) add({ feeType: fee.note, amount: fee.monthlyFee, note: \"Monthly specialized module fee.\" });\n  }\n  return rows;\n}\n\nfunction extractRevShareFees() {\n  const rows = [];\n  const candidates = compact.match(/(?:rtp|revenue split|revenue share|rev share)[^.]{0,220}\\d+(?:\\.\\d+)?\\s*%/gi) || [];\n  for (const candidate of candidates) {\n    const rateMatch = candidate.match(/\\d+(?:\\.\\d+)?\\s*%/);\n    if (!rateMatch) continue;\n    rows.push({\n      feeType: /rtp/i.test(candidate) ? \"RTP Revenue Split\" : \"Revenue Share\",\n      rate: percentToDecimal(rateMatch[0]),\n      note: clean(candidate),\n    });\n  }\n  return rows;\n}\n\nconst parsed = {\n  partnerName: findPartnerName(),\n  effectiveDate: findEffectiveDate(),\n  billingTerms: findBillingTerms(),\n  offlineRates: extractOfflineRates(),\n  volumeRates: extractVolumeRates(),\n  fxRates: extractFxRates(),\n  feeCaps: extractFeeCaps(),\n  minimums: extractMinimums(),\n  reversalFees: extractReversalFees(),\n  platformFees: extractPlatformFees(),\n  implFees: extractImplementationFees(),\n  virtualAccountFees: extractVirtualAccountFees(),\n  surcharges: extractSurcharges(),\n  otherFees: extractOtherFees(),\n  revShareTiers: [],\n  revShareFees: extractRevShareFees(),\n  warnings,\n};\n\nif (!parsed.effectiveDate) parsed.warnings.push(\"No effective date was detected.\");\nif (!parsed.billingTerms.payBy) parsed.warnings.push(\"No payment timing/pay-by term was detected.\");\nif (!parsed.offlineRates.length && !parsed.volumeRates.length && !parsed.fxRates.length && !parsed.feeCaps.length && !parsed.minimums.length && !parsed.reversalFees.length && !parsed.platformFees.length && !parsed.implFees.length && !parsed.virtualAccountFees.length && !parsed.surcharges.length && !parsed.otherFees.length && !parsed.revShareFees.length) {\n  parsed.warnings.push(\"No billing fee rows were detected. Use an LLM parser node for this contract or paste structured JSON.\");\n}\nif (parsed.revShareFees.length) {\n  parsed.warnings.push(\"Revenue-share terms were detected for review. The current workbook import preview does not automatically import revenue-share fee rows.\");\n}\n\nreturn [{ json: parsed }];\n"
      },
      "id": "deterministic-contract-parser",
      "name": "Deterministic Contract Parser",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        700
      ]
    }
  ],
  "connections": {
    "Contract Extract Webhook": {
      "main": [
        [
          {
            "node": "Normalize Extract Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Extract Test": {
      "main": [
        [
          {
            "node": "Sample Extract Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sample Extract Request": {
      "main": [
        [
          {
            "node": "Normalize Extract Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Extract Request": {
      "main": [
        [
          {
            "node": "Build PDF Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build PDF Binary": {
      "main": [
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "Normalize PDF Text Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contract Parse Webhook": {
      "main": [
        [
          {
            "node": "Normalize Parse Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Parse Test": {
      "main": [
        [
          {
            "node": "Sample Parse Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sample Parse Request": {
      "main": [
        [
          {
            "node": "Normalize Parse Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Parse Request": {
      "main": [
        [
          {
            "node": "Deterministic Contract Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "none",
    "saveExecutionProgress": false,
    "saveManualExecutions": true
  },
  "tags": []
}
