docs/n8n-looker-cloud.workflow.json
{
  "name": "Billing Workbook Looker Direct Import (Cloud)",
  "nodes": [
    {
      "parameters": {},
      "id": "2e356e7e-8f12-4e91-8f5d-cf4af8e1f9ac",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        260,
        220
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      },
      "id": "4a97f74d-f844-418e-b928-2ab0f42e4368",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        260,
        380
      ]
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst period = `${now.getFullYear()}-${String(now.getMonth() + 1).padStart(2, '0')}`;\nconst timestamp = now.toISOString().replace(/[-:.TZ]/g, '').slice(0, 14);\nconst runToken = Math.random().toString(16).slice(2, 8);\nconst billingApiBaseUrl = 'https://your-billing-api.example.com';\nconst billingApiToken = '';\nconst reportFileTypes = [];\nconst configFile = '';\nconst lookerClientId = '';\nconst lookerClientSecret = '';\nconst historyWindowDays = 90;\nif (!billingApiBaseUrl || billingApiBaseUrl.includes('your-billing-api.example.com')) {\n  throw new Error('Set billingApiBaseUrl in the Build Config node before running this cloud workflow.');\n}\nconst requestBody = {\n  period,\n  runId: `n8n-cloud-${timestamp}-${runToken}-${period.replace('-', '')}`,\n  dryRun: false,\n  reportTimeout: 600,\n  historyWindowDays,\n};\nif (reportFileTypes.length) {\n  requestBody.reportFileTypes = reportFileTypes;\n}\nif (configFile) {\n  requestBody.configFile = configFile;\n}\nif (lookerClientId) {\n  requestBody.lookerClientId = lookerClientId;\n}\nif (lookerClientSecret) {\n  requestBody.lookerClientSecret = lookerClientSecret;\n}\nreturn [{\n  json: {\n    period,\n    billingApiBaseUrl: billingApiBaseUrl.replace(/\\/$/, ''),\n    billingApiToken,\n    requestBody,\n  }\n}];"
      },
      "id": "11bd7cea-e4e6-4301-b011-cfd6348f1857",
      "name": "Build Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.billingApiBaseUrl.replace(/\\/$/, '') + '/api/looker/direct-sync' }}",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.billingApiToken ? ('Bearer ' + $json.billingApiToken) : '' }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ $json.requestBody }}",
        "options": {
          "timeout": 900000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "09b60653-42f4-48d6-bf30-eb6f18bb5ffd",
      "name": "Run Direct Looker Sync",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const reports = Array.isArray($json.reports) ? $json.reports : [];\nconst errors = reports.filter((report) => report.status === 'error').map((report) => ({\n  fileType: report.fileType,\n  error: report.error,\n}));\nconst warnings = reports.flatMap((report) => (report.warnings || []).map((warning) => `${report.fileType}: ${warning}`));\nreturn [{\n  json: {\n    period: $json.period,\n    runId: $json.runId,\n    savedAt: $json.savedAt || null,\n    configuredCount: $json.configuredCount ?? reports.length,\n    importedCount: $json.importedCount ?? reports.filter((report) => report.status === 'imported').length,\n    errorCount: $json.errorCount ?? errors.length,\n    warningCount: $json.warningCount ?? warnings.length,\n    hasErrors: $json.hasErrors ?? Boolean(errors.length),\n    hasWarnings: $json.hasWarnings ?? Boolean(warnings.length),\n    reports: reports.map((report) => ({\n      fileType: report.fileType,\n      status: report.status,\n      changedGroups: report.changeSummary?.totalChangedGroups || 0,\n      warnings: report.warnings || [],\n    })),\n    errors,\n    warnings,\n    raw: $json,\n  }\n}];"
      },
      "id": "f1d9c21d-3bf9-4d37-8052-17e95a9dd13f",
      "name": "Parse Import Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "61752e4e-3cef-4a0e-9166-8976ea8f12d6",
              "name": "summary",
              "value": "={{ `Period ${$json.period}: ${$json.importedCount}/${$json.configuredCount} reports imported, ${$json.errorCount} errors, ${$json.warningCount} warnings.` }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "0eb02b9b-e25a-4987-a4cc-7cae91bdbd55",
      "name": "Build Status Line",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1360,
        300
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Build Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Schedule": {
      "main": [
        [
          {
            "node": "Build Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Config": {
      "main": [
        [
          {
            "node": "Run Direct Looker Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Direct Looker Sync": {
      "main": [
        [
          {
            "node": "Parse Import Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Import Summary": {
      "main": [
        [
          {
            "node": "Build Status Line",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Toronto"
  },
  "versionId": "a804a9ce-7f1d-46fc-b9e1-8bd9f4911e6b",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "billing-workbook-looker-direct-import-cloud",
  "tags": []
}
