docs/n8n-looker-direct.workflow.json
{
  "name": "Billing Workbook Looker Direct Import",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [220, 260]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      },
      "id": "daily-schedule",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 460]
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst period = '';\nconst timestamp = now.toISOString().replace(/[-:.TZ]/g, '').slice(0, 14);\nconst runToken = Math.random().toString(16).slice(2, 8);\nreturn [{ json: {\n  period,\n  runId: `n8n-${timestamp}-${runToken}`,\n  configFile: '/Users/danielsinukoff/Documents/billing-workbook/docs/looker-direct-reports.json',\n  billingApiBaseUrl: 'http://host.docker.internal:4174'\n} }];"
      },
      "id": "build-run-context",
      "name": "Build Run Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 360]
    },
    {
      "parameters": {
        "command": "={{ (() => { const ctx = $('Build Run Context').first().json; const q = (value) => `\"${String(value ?? '').replace(/([\"\\\\$`])/g, '\\\\$1')}\"`; return ['python3', q('/Users/danielsinukoff/Documents/billing-workbook/tools/pull_looker_and_push.py'), '--config-file', q(ctx.configFile), '--period', q(''), '--billing-api-base-url', q(ctx.billingApiBaseUrl), '--run-id', q(ctx.runId), '--file-type', q('partner_offline_billing')].join(' '); })() }}"
      },
      "id": "run-offline",
      "name": "Refresh Partner Offline Billing",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [900, 140]
    },
    {
      "parameters": {
        "command": "={{ (() => { const ctx = $('Build Run Context').first().json; const q = (value) => `\"${String(value ?? '').replace(/([\"\\\\$`])/g, '\\\\$1')}\"`; return ['python3', q('/Users/danielsinukoff/Documents/billing-workbook/tools/pull_looker_and_push.py'), '--config-file', q(ctx.configFile), '--period', q(''), '--billing-api-base-url', q(ctx.billingApiBaseUrl), '--run-id', q(ctx.runId), '--file-type', q('partner_offline_billing_reversals')].join(' '); })() }}"
      },
      "id": "run-offline-reversals",
      "name": "Refresh Offline Reversals",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [900, 260]
    },
    {
      "parameters": {
        "command": "={{ (() => { const ctx = $('Build Run Context').first().json; const q = (value) => `\"${String(value ?? '').replace(/([\"\\\\$`])/g, '\\\\$1')}\"`; return ['python3', q('/Users/danielsinukoff/Documents/billing-workbook/tools/pull_looker_and_push.py'), '--config-file', q(ctx.configFile), '--period', q(''), '--billing-api-base-url', q(ctx.billingApiBaseUrl), '--run-id', q(ctx.runId), '--file-type', q('all_registered_accounts_offline')].join(' '); })() }}"
      },
      "id": "run-accounts-offline",
      "name": "Refresh Registered Accounts Offline",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [900, 380]
    },
    {
      "parameters": {
        "command": "={{ (() => { const ctx = $('Build Run Context').first().json; const q = (value) => `\"${String(value ?? '').replace(/([\"\\\\$`])/g, '\\\\$1')}\"`; return ['python3', q('/Users/danielsinukoff/Documents/billing-workbook/tools/pull_looker_and_push.py'), '--config-file', q(ctx.configFile), '--period', q(''), '--billing-api-base-url', q(ctx.billingApiBaseUrl), '--run-id', q(ctx.runId), '--file-type', q('vba_accounts')].join(' '); })() }}"
      },
      "id": "run-vba-accounts",
      "name": "Refresh VBA Accounts",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [900, 500]
    },
    {
      "parameters": {
        "command": "={{ (() => { const ctx = $('Build Run Context').first().json; const q = (value) => `\"${String(value ?? '').replace(/([\"\\\\$`])/g, '\\\\$1')}\"`; return ['python3', q('/Users/danielsinukoff/Documents/billing-workbook/tools/pull_looker_and_push.py'), '--config-file', q(ctx.configFile), '--period', q(''), '--billing-api-base-url', q(ctx.billingApiBaseUrl), '--run-id', q(ctx.runId), '--file-type', q('vba_transactions_cc')].join(' '); })() }}"
      },
      "id": "run-vba-transactions-cc",
      "name": "Refresh VBA Transactions CC",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1280, 140]
    },
    {
      "parameters": {
        "command": "={{ (() => { const ctx = $('Build Run Context').first().json; const q = (value) => `\"${String(value ?? '').replace(/([\"\\\\$`])/g, '\\\\$1')}\"`; return ['python3', q('/Users/danielsinukoff/Documents/billing-workbook/tools/pull_looker_and_push.py'), '--config-file', q(ctx.configFile), '--period', q(''), '--billing-api-base-url', q(ctx.billingApiBaseUrl), '--run-id', q(ctx.runId), '--file-type', q('vba_transactions_citi')].join(' '); })() }}"
      },
      "id": "run-vba-transactions-citi",
      "name": "Refresh VBA Transactions Citi",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1280, 200]
    },
    {
      "parameters": {
        "command": "={{ (() => { const ctx = $('Build Run Context').first().json; const q = (value) => `\"${String(value ?? '').replace(/([\"\\\\$`])/g, '\\\\$1')}\"`; return ['python3', q('/Users/danielsinukoff/Documents/billing-workbook/tools/pull_looker_and_push.py'), '--config-file', q(ctx.configFile), '--period', q(''), '--billing-api-base-url', q(ctx.billingApiBaseUrl), '--run-id', q(ctx.runId), '--file-type', q('revenue_share_report')].join(' '); })() }}"
      },
      "id": "run-revenue-share-report",
      "name": "Refresh Revenue Share Report",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1280, 300]
    },
    {
      "parameters": {
        "command": "={{ (() => { const ctx = $('Build Run Context').first().json; const q = (value) => `\"${String(value ?? '').replace(/([\"\\\\$`])/g, '\\\\$1')}\"`; return ['python3', q('/Users/danielsinukoff/Documents/billing-workbook/tools/pull_looker_and_push.py'), '--config-file', q(ctx.configFile), '--period', q(''), '--billing-api-base-url', q(ctx.billingApiBaseUrl), '--run-id', q(ctx.runId), '--file-type', q('rev_share_reversals')].join(' '); })() }}"
      },
      "id": "run-rev-share-reversals",
      "name": "Refresh Rev Share Reversals",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1280, 420]
    },
    {
      "parameters": {
        "command": "={{ (() => { const ctx = $('Build Run Context').first().json; const q = (value) => `\"${String(value ?? '').replace(/([\"\\\\$`])/g, '\\\\$1')}\"`; return ['python3', q('/Users/danielsinukoff/Documents/billing-workbook/tools/pull_looker_and_push.py'), '--config-file', q(ctx.configFile), '--period', q(''), '--billing-api-base-url', q(ctx.billingApiBaseUrl), '--run-id', q(ctx.runId), '--file-type', q('all_registered_accounts_rev_share')].join(' '); })() }}"
      },
      "id": "run-accounts-rev-share",
      "name": "Refresh Registered Accounts Rev Share",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1280, 540]
    },
    {
      "parameters": {
        "command": "={{ (() => { const ctx = $('Build Run Context').first().json; const q = (value) => `\"${String(value ?? '').replace(/([\"\\\\$`])/g, '\\\\$1')}\"`; return ['python3', q('/Users/danielsinukoff/Documents/billing-workbook/tools/pull_looker_and_push.py'), '--config-file', q(ctx.configFile), '--period', q(''), '--billing-api-base-url', q(ctx.billingApiBaseUrl), '--run-id', q(ctx.runId), '--file-type', q('stampli_usd_abroad_revenue_share')].join(' '); })() }}"
      },
      "id": "run-stampli-usd-share",
      "name": "Refresh Stampli USD Abroad Share",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1660, 140]
    },
    {
      "parameters": {
        "command": "={{ (() => { const ctx = $('Build Run Context').first().json; const q = (value) => `\"${String(value ?? '').replace(/([\"\\\\$`])/g, '\\\\$1')}\"`; return ['python3', q('/Users/danielsinukoff/Documents/billing-workbook/tools/pull_looker_and_push.py'), '--config-file', q(ctx.configFile), '--period', q(''), '--billing-api-base-url', q(ctx.billingApiBaseUrl), '--run-id', q(ctx.runId), '--file-type', q('stampli_usd_abroad_reversal')].join(' '); })() }}"
      },
      "id": "run-stampli-usd-reversal",
      "name": "Refresh Stampli USD Abroad Reversal",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1660, 260]
    },
    {
      "parameters": {
        "command": "={{ (() => { const ctx = $('Build Run Context').first().json; const q = (value) => `\"${String(value ?? '').replace(/([\"\\\\$`])/g, '\\\\$1')}\"`; return ['python3', q('/Users/danielsinukoff/Documents/billing-workbook/tools/pull_looker_and_push.py'), '--config-file', q(ctx.configFile), '--period', q(''), '--billing-api-base-url', q(ctx.billingApiBaseUrl), '--run-id', q(ctx.runId), '--file-type', q('stampli_fx_revenue_share')].join(' '); })() }}"
      },
      "id": "run-stampli-fx-share",
      "name": "Refresh Stampli FX Share",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1660, 380]
    },
    {
      "parameters": {
        "command": "={{ (() => { const ctx = $('Build Run Context').first().json; const q = (value) => `\"${String(value ?? '').replace(/([\"\\\\$`])/g, '\\\\$1')}\"`; return ['python3', q('/Users/danielsinukoff/Documents/billing-workbook/tools/pull_looker_and_push.py'), '--config-file', q(ctx.configFile), '--period', q(''), '--billing-api-base-url', q(ctx.billingApiBaseUrl), '--run-id', q(ctx.runId), '--file-type', q('stampli_fx_revenue_reversal')].join(' '); })() }}"
      },
      "id": "run-stampli-fx-reversal",
      "name": "Refresh Stampli FX Reversal",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1660, 500]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Build Run Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Schedule": {
      "main": [
        [
          {
            "node": "Build Run Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Run Context": {
      "main": [
        [
          {
            "node": "Refresh Partner Offline Billing",
            "type": "main",
            "index": 0
          },
          {
            "node": "Refresh Offline Reversals",
            "type": "main",
            "index": 0
          },
          {
            "node": "Refresh Registered Accounts Offline",
            "type": "main",
            "index": 0
          },
          {
            "node": "Refresh VBA Accounts",
            "type": "main",
            "index": 0
          },
        {
          "node": "Refresh VBA Transactions CC",
          "type": "main",
          "index": 0
        },
        {
          "node": "Refresh VBA Transactions Citi",
          "type": "main",
          "index": 0
        },
          {
            "node": "Refresh Revenue Share Report",
            "type": "main",
            "index": 0
          },
          {
            "node": "Refresh Rev Share Reversals",
            "type": "main",
            "index": 0
          },
          {
            "node": "Refresh Registered Accounts Rev Share",
            "type": "main",
            "index": 0
          },
          {
            "node": "Refresh Stampli USD Abroad Share",
            "type": "main",
            "index": 0
          },
          {
            "node": "Refresh Stampli USD Abroad Reversal",
            "type": "main",
            "index": 0
          },
          {
            "node": "Refresh Stampli FX Share",
            "type": "main",
            "index": 0
          },
          {
            "node": "Refresh Stampli FX Reversal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2d30a915-c55d-4d49-aec7-7400a5cc31d5",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "billing-workbook-looker-direct-import",
  "tags": []
}
