docs/n8n-looker-batch-import.workflow.json
{
  "name": "Billing Workbook Looker Batch Import",
  "nodes": [
    {
      "parameters": {},
      "id": "0f9e79b6-3142-4a6f-9b30-85e93f5cd0c0",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst period = `${now.getFullYear()}-${String(now.getMonth() + 1).padStart(2, '0')}`;\nreturn [{\n  json: {\n    sourceDir: '/Users/danielsinukoff/Documents/billing-workbook/Partner Billing Data',\n    period,\n    apiBaseUrl: $env.BILLING_API_BASE_URL || 'http://127.0.0.1:4174',\n    apiToken: $env.BILLING_API_TOKEN || ''\n  }\n}];"
      },
      "id": "f0d3789b-1dae-4c64-8fc4-e8a20e2b3432",
      "name": "Build Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const q = (value) => `\"${String(value ?? '').replace(/([\"\\\\$`])/g, '\\\\$1')}\"`;\nconst tokenArg = $json.apiToken ? ` --api-token ${q($json.apiToken)}` : '';\nconst command = [\n  'python3',\n  q('/Users/danielsinukoff/Documents/billing-workbook/tools/push_looker_batch.py'),\n  '--source-dir',\n  q($json.sourceDir),\n  '--period',\n  q($json.period),\n  '--api-base-url',\n  q($json.apiBaseUrl)\n].join(' ') + tokenArg;\nreturn [{ json: { ...$json, command } }];"
      },
      "id": "92eb17a7-58f1-4b0f-a255-7fcd0e03f195",
      "name": "Build Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        300
      ]
    },
    {
      "parameters": {
        "command": "={{$json.command}}"
      },
      "id": "e7301d55-353d-4d89-b78a-e3fe1fc398b7",
      "name": "Run Batch Import",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1040,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.stdout || '{}';\nlet parsed;\ntry {\n  parsed = JSON.parse(raw);\n} catch (error) {\n  throw new Error(`Could not parse importer output as JSON. stdout: ${raw}`);\n}\nreturn [{ json: parsed }];"
      },
      "id": "2e132e6b-fc27-410e-a598-df456e4b1db2",
      "name": "Parse Import Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        300
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Build Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Config": {
      "main": [
        [
          {
            "node": "Build Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Command": {
      "main": [
        [
          {
            "node": "Run Batch Import",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Batch Import": {
      "main": [
        [
          {
            "node": "Parse Import Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "48d10af9-71c5-4d55-8fbe-c102340e23df",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "billing-workbook-looker-batch-import",
  "tags": []
}
